[submodule "nextflow-practice"]
	path = nextflow-practice
	url = git@github.com:paymantohidifar/nextflow-practice.git
[submodule "long-read-seq-practice"]
	path = long-read-seq-practice
	url = git@github.com:paymantohidifar/long-read-seq-practice.git
[submodule "bioinfx-data-skills-book"]
	path = bioinfx-data-skills-book
	url = git@github.com:paymantohidifar/bioinfx-data-skills-book.git
[submodule "deep-learning-for-biology-book"]
	path = deep-learning-for-biology-book
	url = git@github.com:paymantohidifar/deep-learning-for-biology-book.git
[submodule "bulk-rnaseq-analysis-workflow"]
	path = bulk-rnaseq-analysis-workflow
	url = git@github.com:paymantohidifar/bulk-rnaseq-analysis-workflow.git

