[submodule "bioinfx-data-skills-book"]
	path = bioinfx-data-skills-book
	url = git@github.com:paymantohidifar/bioinfx-data-skills-book.git
[submodule "deep-learning-for-biology-book"]
	path = deep-learning-for-biology-book
	url = git@github.com:paymantohidifar/deep-learning-for-biology-book.git
[submodule "biocanvas"]
	path = biocanvas
	url = git@github.com:paymantohidifar/BioCanvas.git
[submodule "alcohol-receptors"]
	path = alcohol-receptors
	url = git@github.com:paymantohidifar/alcohol-receptors.git
[submodule "pH-receptors"]
	path = pH-receptors
	url = git@github.com:paymantohidifar/pH-receptors.git
[submodule "DNA-receptors"]
	path = DNA-receptors
	url = git@github.com:paymantohidifar/DNA-receptors.git
[submodule "lung-cancer-bulk-rnaseq-analysis"]
	path = lung-cancer-bulk-rnaseq-analysis
	url = git@github.com:paymantohidifar/lung-cancer-bulk-rnaseq-analysis.git
[submodule "protein-function-deep-learning"]
	path = protein-function-deep-learning
	url = git@github.com:paymantohidifar/protein-function-deep-learning.git
[submodule "build-ai-drug-discovery-pipeline-book"]
	path = build-ai-drug-discovery-pipeline-book
	url = git@github.com:paymantohidifar/build-ai-drug-discovery-pipeline-book.git
